body{
text-align: center;
align-items: center;
}


header {
    width: 100%;
     background-color: dodgerblue;
    color: aliceblue;
    line-height: 2.9;
}


header a {
    position: absolute;
    color: aliceblue;
    font: 600 25px Arial;
    text-decoration: none;
    margin: 0px;

}

header a img{
    width: 50px;
    margin: 10px;
}




h1{
    text-align: center;
    padding: 50px;
    background-color: dodgerblue;
    color: aliceblue;
}

main{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
}


main img{
    width: 100%;
    align-items: center;
    padding: 30px;
}

p{
   padding-top: 30px;
    text-align: justify;
    line-height: 1.9;
    /* font: 500 20px Arial; */
    font-size: 20px;
    font-weight: 500;
    font-family: Arial;
}






@media(max-width: 768px){

header{
    display: flex;
      background-color: dodgerblue;

}



    header a {

    position: absolute;
    color: aliceblue;
    font: 600 25px Arial;
    text-decoration: none;
    margin:  0px;
}



    .titulo{
        margin-top: 30px;
    }


    main{
    width: 80%;
    margin: 0 auto;
    }


    main img{
    width: 350px;
    align-items: center;
    padding: 30px;
    }

}